Repository li-xiu-qi/HearSight: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-lint, supabase-format, supabase-lint

frontend-format:
  run: bash -c "cd frontend && npx prettier --write \$(git diff --cached --name-only --diff-filter=ACM | grep -E '\\.(ts|tsx|js|jsx|json|css|scss|html)$')"
  skip:
  - merge-commit

frontend-lint:
  run: bash -c 'cd frontend && npm run lint && npx tsc --noEmit'
  skip:
  - merge-commit

backend-format:
  run: bash -c 'python -m black $(git diff --cached --name-only --diff-filter=ACM | grep "^backend/.*\\.py$") && python -m isort $(git diff --cached --name-only --diff-filter=ACM | grep "^backend/.*\\.py$")'
  skip:
  - merge-commit

backend-lint:
  run: bash -c 'python -m pylint $(git diff --cached --name-only --diff-filter=ACM | grep "^backend/.*\\.py$") || true'
  skip:
  - merge-commit

supabase-format:
  run: bash -c "cd supabase_project && npx prettier --write \$(git diff --cached --name-only --diff-filter=ACM | grep -E '\\.(ts|js)$')"
  skip:
  - merge-commit

supabase-lint:
  run: bash -c "cd supabase_project && npx eslint \$(git diff --cached --name-only --diff-filter=ACM | grep -E '\\.(ts|js)$') || true"
  skip:
  - merge-commit

代码格式调整：合并多行导入语句
  backend/app.py
  backend/chat_utils/chat_client.py
  backend/chat_utils/retrying.py
  backend/db/pg_store.py
  backend/routers/transcript_router.py
  backend/routers/upload_router.py
  backend/services/download_service.py
  backend/services/transcript_service.py
  backend/worker/job_worker.py
Due: backend-format, backend-lint

feat: 实现翻译和总结的数据库持久化 后端：添加翻译和总结的数据库持久化功能 前端：改进UI交互，总结自动保存，添加刷新确认对话框 优化：刷新按钮始终显示，切换tab自动加载已保存内容
  README.md
  backend/db/pg_store.py
  backend/db/transcript_crud.py
  backend/db/transcript_init.py
  backend/routers/chat_router.py
  backend/routers/transcript_router.py
  backend/services/thumbnail_service.py
  backend/services/transcript_service.py
  backend/services/translate_service.py
  backend/text_process/translate.py
  docs/database_schema.md
  frontend/src/components/LeftPanel/ProcessedTab.tsx
  frontend/src/components/RightPanel/ChatView.tsx
  frontend/src/components/RightPanel/RightPanel.tsx
  frontend/src/components/RightPanel/SummariesTab.tsx
  frontend/src/components/RightPanel/hooks/useRightPanelController.ts
  frontend/src/components/RightPanel/hooks/useSummaryHandlers.ts
  frontend/src/components/RightPanel/hooks/useTranslateHandlers.ts
  frontend/src/hooks/useDataLoader.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat: 实现chat消息持久化功能 添加chat_messages_json字段到transcripts表 实现chat消息的保存、获取和清除CRUD操作 添加chat消息相关的API端点 前端ChatView组件支持自动保存和加载chat消息 修复切换视频时chat内容不更新的问题 优化翻译和缩略图服务
  backend/db/pg_store.py
  backend/db/transcript_crud.py
  backend/db/transcript_init.py
  backend/routers/chat_router.py
  backend/routers/transcript_router.py
  backend/services/thumbnail_service.py
  backend/services/transcript_service.py
  backend/services/translate_service.py
  backend/text_process/translate.py
  docs/lefthook-usage-guide.md
  frontend/src/components/RightPanel/ChatView.tsx
  frontend/src/hooks/useDataLoader.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

优化右侧工具栏：删除上一句/下一句按钮，为所有按钮添加鼠标提示
  Dockerfile.backend
  README.md
  backend/text_process/translate.py
  docker-compose.yml
  frontend/Dockerfile
  frontend/src/HomePage/HomePage.tsx
  frontend/src/components/RightPanel/RightPanel.tsx
  frontend/src/components/RightPanel/TabToolbar.tsx
  frontend/src/components/RightPanel/hooks/useRightPanelController.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat:修复docker 启动报错。
  README.md
  backend/text_process/translate.py
  requirements.txt
Due: backend-format, backend-lint

feat:更新README。
  README.md
Due: none

添加多平台媒体下载支持和音频文件处理功能
  README.md
  backend/db/transcript_crud.py
  backend/db/transcript_init.py
  backend/db/transcript_query.py
  backend/routers/asr_router.py
  backend/routers/download_router.py
  backend/routers/progress_router.py
  backend/routers/thumbnail_router.py
  backend/services/download_service.py
  backend/utils/vedio_utils/download_video/download_bilibili_with_progress.py
  backend/utils/vedio_utils/download_video/multi_platform_downloader.py
  backend/worker/job_worker.py
  frontend/src/HomePage/HomePage.tsx
  frontend/src/components/LeftPanel/TasksTab.tsx
  frontend/src/components/RightPanel/ChatView.tsx
  frontend/src/components/RightPanel/RightPanel.tsx
  frontend/src/components/RightPanel/SummariesTab.tsx
  frontend/src/components/VideoPlayer.tsx
  frontend/src/features/app/AppPage.tsx
  frontend/src/hooks/useDataLoader.ts
  frontend/src/hooks/useUrlHandler.ts
  frontend/src/types/index.ts
  frontend/src/utils/index.ts
  tests/download_media_file.py
  tests/test_download_media.py
  tests/test_multi_platform_downloader.py
Due: frontend-format, frontend-lint, backend-format, backend-lint

feat:格式化新的内容。
  backend/db/transcript_crud.py
  backend/routers/asr_router.py
  backend/routers/download_router.py
  backend/routers/thumbnail_router.py
  backend/services/download_service.py
  backend/utils/vedio_utils/download_video/multi_platform_downloader.py
  backend/worker/job_worker.py
Due: backend-format, backend-lint

refactor: 移除未使用的ASR路由并清理代码结构 删除未使用的asr_router.py和pg_store.py聚合模块 为所有路由添加TypedDict类型定义，提升类型安全性 更新所有导入为直接从具体模块导入，移除不必要的依赖 修复Python 3.10兼容性，使用typing_extensions.TypedDict 更新注释和文档以反映新的代码结构
  backend/app.py
  backend/db/pg_store.py
  backend/routers/__init__.py
  backend/routers/asr_router.py
  backend/routers/chat_router.py
  backend/routers/download_router.py
  backend/routers/job_router.py
  backend/routers/progress_router.py
  backend/routers/thumbnail_router.py
  backend/routers/transcript_router.py
  backend/routers/upload_router.py
  backend/services/download_service.py
  backend/services/transcript_service.py
  backend/services/translate_service.py
  backend/startup.py
  backend/utils/vedio_utils/download_video/multi_platform_downloader.py
  backend/worker/job_worker.py
Due: backend-format, backend-lint

formatting code
  backend/routers/chat_router.py
  backend/routers/download_router.py
  backend/routers/job_router.py
  backend/routers/progress_router.py
  backend/routers/thumbnail_router.py
  backend/routers/transcript_router.py
  backend/routers/upload_router.py
  backend/services/download_service.py
  backend/services/transcript_service.py
  backend/services/translate_service.py
  backend/startup.py
  backend/utils/vedio_utils/download_video/multi_platform_downloader.py
Due: backend-format, backend-lint

formatting code
  backend/routers/chat_router.py
  backend/routers/download_router.py
  backend/routers/job_router.py
  backend/routers/progress_router.py
  backend/routers/thumbnail_router.py
  backend/routers/transcript_router.py
  backend/routers/upload_router.py
  backend/services/download_service.py
  backend/services/transcript_service.py
  backend/services/translate_service.py
  backend/utils/vedio_utils/download_video/multi_platform_downloader.py
Due: backend-format, backend-lint

feat:修复部分bug，优化依赖内容。
  backend/db/transcript_crud.py
  backend/routers/transcript_router.py
  frontend/package-lock.json
  requirements.txt
Due: backend-format, backend-lint

重构：将后端相关文件移动到 backend 目录，并修复 Docker 启动部分
  README.md
  backend/.env.example
  backend/Dockerfile
  backend/Dockerfile.backend
  backend/config.py
  backend/main.py
  backend/requirements.txt
  backend/routers/chat_router.py
  backend/routers/transcript_router.py
  backend/startup.py
  docker-compose.yml
  frontend/Dockerfile
Due: backend-format, backend-lint

修复翻译进度类型错误并更新后端文件
  backend/.env.example
  backend/audio2text/asr_sentence_segments.py
  backend/chat_utils/chat_client.py
  backend/chat_utils/types.py
  backend/config.py
  backend/routers/chat_router.py
  backend/schemas.py
  backend/services/download_service.py
  backend/services/translate_service.py
  backend/tests/old_tests/test_topic_segmenter.py
  backend/tests/paraformer_a2t.py
  backend/tests/test_asr_sentence_segments.py
  backend/tests/test_chat_with_segment.py
  backend/text_process/chat_with_segment.py
  backend/text_process/summarize.py
  backend/text_process/translate.py
  backend/text_process/translate/batch.py
  backend/text_process/translate/core.py
  backend/text_process/translate/prompt.py
  backend/utils/typing_defs.py
  backend/worker/job_worker.py
  docker-compose.asr.yml
  docker-compose.cloud.yml
  example_tests/__init__.py
  example_tests/asr_sentence_segments.py
Due: backend-format, backend-lint

优化音频播放器背景效果 为音频播放添加渐变背景和波形动画 扩展音频文件格式识别 提升音频播放的视觉体验
  docker-compose.cloud.yml
  frontend/src/components/VideoPlayer.tsx
Due: frontend-format, frontend-lint

feat(video-player): 统一音频/视频播放样式 — 居中、响应式大小、为音频添加 poster
  frontend/src/components/VideoPlayer.tsx
Due: frontend-format, frontend-lint

修复总结接口类型问题，优化前端显示逻辑
  backend/text_process/summarize.py
  frontend/src/components/LeftPanel/ProcessedTab.tsx
  frontend/src/components/RightPanel/ChatView.tsx
Due: frontend-format, frontend-lint, backend-format, backend-lint

整理ARM设备Docker构建指南文档
  docker-compose.cloud.arm.linux.yml
  docker-compose.cloud.linux.yml
  docs/ARM设备Docker构建指南.md
Due: none

更新README.md，添加ARM设备部署说明
  README.md
Due: none

更新文档和配置文件：数据库设计、快速开始提取、Docker配置等
  ASRBackend/docs/api.md
  README.md
  backend/Dockerfile
  backend/Dockerfile.backend
  backend/docs/api.md
  backend/tests/test_chat_with_segment.py
  docker-compose.cloud.arm.linux.yml
  docker-compose.cloud.linux.yml
  docs/Radxa设备大语言模型部署指南.md
  docs/api_文档导航.md
  docs/database_schema.md
  docs/快速开始.md
  docs/项目结构.md
Due: backend-format, backend-lint

修复缩略图路由中的bug，并更新其他文件
  README.md
  backend/.env.example
  backend/chat_utils/__init__.py
  backend/chat_utils/chat_client.py
  backend/chat_utils/retrying.py
  backend/chat_utils/types.py
  backend/config.py
  backend/requirements.txt
  backend/routers/chat_router.py
  backend/routers/thumbnail_router.py
  backend/routers/transcript_router.py
  backend/services/translate_service.py
  backend/tests/old_tests/test_topic_segmenter.py
  backend/text_process/chat_with_segment.py
  backend/text_process/example.py
  backend/text_process/summarize.py
  backend/text_process/translate.py
  backend/text_process/translate/core.py
  frontend/src/services/api.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

修复前端布局滚动条问题，优化视频播放器控制条显示
  frontend/src/features/app/AppPage.tsx
  frontend/src/features/app/components/AppLayout.tsx
  frontend/src/features/app/components/HeaderBar.tsx
  frontend/src/features/app/docs/滚动条问题解决记录.md
  frontend/src/hooks/useDataLoader.ts
Due: frontend-format, frontend-lint

fix: 解决文稿tab页滚动导致页面整体滚动的问题 将TranscriptTab改为使用ScrollArea组件，与SegmentsTab保持一致 修改自动滚动逻辑，使用手动计算的scrollTo替代scrollIntoView 防止滚动事件冒泡到父级容器，确保滚动被限制在组件内部 添加文稿Tab页滚动问题解决记录文档
  frontend/src/components/RightPanel/RightPanel.tsx
  frontend/src/components/RightPanel/TranscriptTab.tsx
  frontend/src/components/RightPanel/hooks/useScrollHandlers.ts
  frontend/src/features/app/docs/文稿Tab页滚动问题解决记录.md
Due: frontend-format, frontend-lint

修复YouTube视频下载问题：简化yt-dlp配置，修复导入循环，添加下载修复记录文档
  backend/common_interfaces.py
  backend/media_processing/__init__.py
  backend/media_processing/audio/local/upload_handler.py
  backend/media_processing/downloader_factory.py
  backend/media_processing/upload_handler.py
  backend/media_processing/video/download/youtube/docs/下载问题修复记录.md
  backend/media_processing/video/download/youtube/example.py
  backend/media_processing/video/download/youtube/youtube_downloader.py
  backend/media_processing/video/local/upload_handler.py
Due: backend-format, backend-lint

修复MediaDownloaderFactory导入错误并更新相关文件
  ASRBackend/asr_functions/docs/asr_sentence_segments设计文档.md
  ASRBackend/asr_functions/docs/dashscope_paraformer_v2_transcription设计文档.md
  ASRBackend/asr_functions/local_asr_example.py
  ASRBackend/requirements.txt
  backend/media_processing/__init__.py
  backend/media_processing/audio/download/xiaoyuzhou/xiaoyuzhou_downloader.py
  backend/media_processing/video/download/bilibili/bilibili_downloader.py
  docs/测试示例.md
  frontend/src/features/app/docs/文稿Tab页滚动问题解决记录.md
Due: backend-format, backend-lint

修复右侧边栏tab页滚动问题：统一使用ScrollArea，修改自动滚动逻辑，调整布局高度为90vh
  frontend/src/components/RightPanel/RightPanel.tsx
  frontend/src/components/RightPanel/SegmentsTab.tsx
  frontend/src/components/RightPanel/SummariesTab.tsx
  frontend/src/components/RightPanel/TranscriptTab.tsx
  frontend/src/components/RightPanel/hooks/useScrollHandlers.ts
  frontend/src/features/app/components/AppLayout.tsx
Due: frontend-format, frontend-lint

重构ReAct框架使用litellm路由器，移除OpenAI依赖，集成记忆管理和MCP工具
  backend/ReAct/__init__.py
  backend/ReAct/actions.py
  backend/ReAct/base_agent.py
  backend/ReAct/chat_agent.py
  backend/ReAct/chat_prompt_builder.py
  backend/ReAct/docs/ChatAgent记忆管理设计文档.md
  backend/ReAct/docs/ReAct设计文档.md
  backend/ReAct/docs/summary_compressor设计文档.md
  backend/ReAct/llm_client.py
  backend/ReAct/memory_manager.py
  backend/ReAct/react_loop.py
  backend/ReAct/sql_agent/__init__.py
  backend/ReAct/sql_agent/sql_agent.py
  backend/ReAct/sql_agent/sql_agent_tool_limit.json
  backend/ReAct/sql_agent/sql_prompt_builder.py
  backend/ReAct/summary_compressor.py
  backend/ReAct/test_chat_agent.py
  backend/ReAct/test_chat_request.py
  backend/ReAct/tools/__init__.py
  backend/ReAct/tools/retrieval_tool.py
  backend/ReAct/tools_server.py
  backend/db/__init__.py
  backend/llm_test.py
  backend/test_litellm.py
  backend/tools/__init__.py
  backend/tools/retrieval_tool.py
  frontend/src/components/RightPanel/Chat/docs/会话管理器设计说明.md
  frontend/src/components/RightPanel/docs/摘要标签页设计说明.md
  frontend/src/components/RightPanel/docs/翻译对话框设计说明.md
  frontend/src/components/docs/FileUploader设计说明.md
  frontend/src/components/docs/ProgressCard设计说明.md
  frontend/src/components/docs/VideoPlayer设计说明.md
Due: backend-format, backend-lint

修复summarize_router.py中的无效导入
  backend/routers/chat/summarize_router.py
Due: backend-format, backend-lint

修复(asr-backend): 在 Dockerfile 中安装 curl/ffmpeg/ca-certificates，修复 healthcheck 与音频处理依赖；移除 asr_functions 包的全量导入以避免启动时加载 heavy 依赖
  ASRBackend/Dockerfile.cloud
  ASRBackend/Dockerfile.local
  ASRBackend/asr_functions/__init__.py
Due: none

更新 README.md：将 Bilibili 视频链接改为嵌入 iframe
  README.md
Due: none

更新后端和前端代码：改进聊天、知识库和缩略图服务
  backend/ReAct/docs/ReAct设计文档.md
  backend/ReAct/tools/retrieval_tool.py
  backend/queues/tasks/chat_stage.py
  backend/queues/tasks/knowledge_base_stage.py
  backend/routers/chat/chat_conversation_router.py
  backend/routers/progress_router.py
  backend/routers/thumbnail_router.py
  backend/services/chat_knowledge_service.py
  backend/services/chat_prompt_service.py
  backend/services/chat_service.py
  backend/services/docs/多视频聊天服务调试经验.md
  backend/services/example_chat_service.py
  backend/services/kg_example.py
  backend/services/knowledge_base_service.py
  backend/tests/test_chat_with_segment.py
  backend/text_process/example.py
  frontend/docs/api.md
  frontend/src/components/RightPanel/Chat/ChatView.tsx
  frontend/src/components/RightPanel/Chat/MessageList.tsx
  frontend/src/components/RightPanel/RightPanel.tsx
  frontend/src/components/RightPanel/SessionBasedChat.tsx
  frontend/src/services/thumbnailService.ts
Due: frontend-format, frontend-lint, backend-format, backend-lint

Path conditions:
  frontend-format: any of: frontend/**/*.{ts,tsx,js,jsx,json,css,scss,html}
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx}
  backend-format: any of: backend/**/*.py
  backend-lint: any of: backend/**/*.py
  supabase-format: any of: supabase_project/**/*.ts
  supabase-lint: any of: supabase_project/**/*.ts
